/* Cards */
.preview-services {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

/* Hiding scrollbar */
.preview-services::-webkit-scrollbar {
    display: none;
}


/* Scroll markers */
.card-markers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 10px;
    background-color: #86C5FF;
}

.marker:hover {
    cursor: pointer;
}

.marker-active {
    height: 8px;
    width: 8px;
    background-color: #a8d5ff;
}

/* Article styling */
.preview-services > a {
    display: block;
    width: 250px;
    text-decoration: none;
    color: #fff;

    margin-right: 20px;
    scroll-snap-align: center;
}

.preview-services > a > article {
    width: 250px;
    border-radius: 15px;
    background-color: #2E5AA7;
    box-shadow: 0px 4px 9px rgba(0,0,0,0.3);
}

.default-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: #86C5FF; 
}

.preview-services > a > article > img {
    border-radius: 15px 15px 0px 0px;
}

.preview-services > a > article > div:last-of-type {
    padding: 10px 2vw;
}